
.como-comprar {
    font-family: $fuente-secundaria;
    font-weight: 400;
    font-size: 15px;
    text-align:start;

}

.texto1 {
    color: $color-terciario;
    background-color: black;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
}
.texto {
    
    color: $color-terciario;
    font-family: $fuente-principal;
    font-size: 30px;
    margin-top: 220px;
    text-align: center;

}
@media (min-width: $tablet) {
    .texto {
        margin-top: 170px;
        }
    }



.talle {
    width: 90%;
    margin-top: 25px;
    
}
.talle1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        
    }

    
    @media (min-width: $desktop) {
        .talle {
            width: 47%;
            margin-top: 25px;
            display: flex;
            
    
    }    }
