.logo {
    @include logotipo;
    margin-left: 32%;
    
}
@media (min-width: 475px) {

    .logo{
        margin-left: 34%;
        }
    } 

    @media (min-width: 560px) {

        .logo{
            margin-left: 36%;
            }
        } 
    
        @media (min-width: 730px) {

            .logo{
                margin-left: 39%;
                }
            } 
        
            @media (min-width: 768px) {

                .logo    {
                    width: 240px; 
                    height: 85px;
                    margin-left: 25px;
                    margin-top: 25px
            
                    }
                }
.fondo1 {
    background-image: url(../img/fondoplastico.jpg);
    max-width: 100%;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 1%;

    
}

.solapa {
    top: 0%;
   background-color: $color-terciario;
   opacity: 90%;
   width: 100%;
   position: fixed;
   z-index: 1;
  }

  
  .lista1 {
    outline: none;
    display: inline;
    list-style: none;
    text-align: center;
    margin-right: 8%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    
    
}
.lista1 li a {
    
    text-decoration: none;
    font-family: $fuente-principal;
    font-weight: 50;
    font-size: 13px;
    color: black;
    
}
.lista1 a:hover {
    color: $color-primario; }



@media (min-width: $tablet) {

    .lista1{
        gap: 30px;
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 38%;
        bottom: 10%;
        }
    .lista1 li a {

        font-weight: 400;
         font-size: 14px;


    }
    .solapa {
        display: flex;
        align-items: center;
      }
      
    }
    
    @media (min-width: 865px) {
     .lista1 li a {
        font-size: 16px;
        

     }
     
    }
    
@media (min-width: 1130px) {
    .logo {
    
        margin-bottom: 10px;
        
        
    }
    .lista1 {
     left: 25%;
     gap: 70px;
    }
    .lista1 li a {  
     font-weight: 400;
     font-size: 18px;
         }
         
 }

 .colecciones {
    
    color: $color-terciario;
    font-family: $fuente-terciaria;
    font-weight: 400;
    font-size: 15px; }

 h3 {
    font-weight: 100;
 }

  .li3 {
    color: $color-terciario;
    font-family: $fuente-terciaria;
    list-style: none;
    gap: 8px;
    text-align: center;
    margin-top: 5%;
    @include flex-colum;
    

}


   .input0 {
    background: transparent;
    outline: none;
    cursor: pointer;
    font-family: $fuente-principal;
    font-weight: 400;
    font-size: 100%;
    color:$color-primario;

 }
 .redes {
    @include flex-colum;
    gap: 5px;
    position: absolute;
    right: 47%;
    margin-top: 3%;

}

@media (min-width: $desktop) {

 .redes {
    @include flex-row;
    gap: 10px;
    position: absolute;
    right: 44%;
    margin-top: 2%;


    }
}
@media (min-width: $desktopx6) {

    .redes {
       gap: 10px;
       position: absolute;
       right: 45%;
   
   
       }
   }
.icono {
    width: 35px;

}
.whatsapp {
    width: 45px;
    position: fixed;
    bottom: 25px;
    right: 25px;
}

@media (min-width: $desktop) {
.whatsapp { width: 55px;

    }
}

